# Exploring the data

In [2]:
import pandas as pd

In [3]:
a = {'a':[1,2,3],
     'b':[4,5,6]}

In [4]:
b = {'a':[7,8,9],
     'b':[10,11,12]}

In [14]:
df1 = pd.DataFrame(a)
df2 = pd.DataFrame(b)
df3 = pd.concat([df1, df2], axis=0)
df3.reset_index(inplace=True)
df3.drop('index', axis=1, inplace=True)
df3.head()

   a   b
0  1   4
1  2   5
2  3   6
3  7  10
4  8  11